.caixa {
  text-align: left;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  color: #1e3a8a;
}

button {
  padding: 10px 20px; 
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #1943a0;
}